*.vo
*.vos
*.vok
*.vio
*.v.d
.rocqdeps.d
*.glob
*.cache
*.aux
\#*\#
.\#*
*~
*.bak
.rocqdeps.d
.rocq-native/
*.crashrocqide
.env
builddep/
_RocqProject.*
Makefile.rocq
Makefile.rocq.conf
.Makefile.rocq.d
Makefile.package.*
.Makefile.package.*
_opam
.DS_Store
html/*
.vscode/
